<html>
    <head>
        <title>Aria · Your Personal, Smart voice assistant</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
        <style>
            body{
                font-family: cursive;
                font-style: normal;
                font-variant: normal;
                text-align: center;
                color: blue;
                background: black;
            }
        </style>
    </head>
    <body>
        <h4>
        <p>Hi, I am your Personal Voice Assistant.</p>
        Say "Aria" to activate me<br>
        Ask me "help" to see what i can do<br>
        Made by Vivaan<br>
        Born in March 2021
        </h4>
        <p><img src="https://i.ibb.co/zrQyVHM/iris.jpg" alt="Aria" ></p>
    </body>
</html>